.table-steps {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 60px;
}

.table-steps td,
.table-steps th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-steps tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-steps tr:hover {
    background-color: #ddd;
}
.table-steps td {
    width: 50%;
}

.table-steps th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}
