body {
  margin: 0;
  font-family: "Oswald";
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.PrivateTabIndicator-colorSecondary-17  {
  color:black;
}

.makeStyles-menuItem-14 {
  color:black !important;
}
.MuiTab-wrapper {
  color:black !important;
}

[data-rbd-draggable-id] {
  left: auto !important;
  top: auto !important;
}



.link {
  color: #005a9c !important;
  text-decoration: none;
  font-weight: 600 !important;
}

.link:hover {
  text-decoration: underline !important;
  cursor:pointer;
  font-weight: 600 !important;
}